:root {
    --cli-bg: #482f6f;
}
body {
    font-family: "Consolas", "Courier New", Courier, monospace;
    background: #171717;
    color: #e3e3e3;
    padding: 10px 10px 120px 10px;
}
:focus {
    outline: none;
}
#io {
    border: 1px solid #333333;
    margin: 10px 0;
    max-width: 1366px;
    width: 100%;
    min-height: 640px;
    height: 60vh;
    overflow-y: unset;
    margin-bottom: 400px;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: pre;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
}
.tooltip.show {
    opacity: 1;
}
.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}
.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.bs-tooltip-auto[x-placement^="top"],
.bs-tooltip-top {
    padding: 0.4rem 0;
}
.bs-tooltip-auto[x-placement^="top"] .arrow,
.bs-tooltip-top .arrow {
    bottom: 0;
}
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #ebebeb;
}
.bs-tooltip-auto[x-placement^="right"],
.bs-tooltip-right {
    padding: 0 0.4rem;
}
.bs-tooltip-auto[x-placement^="right"] .arrow,
.bs-tooltip-right .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #ebebeb;
}
.bs-tooltip-auto[x-placement^="bottom"],
.bs-tooltip-bottom {
    padding: 0.4rem 0;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow,
.bs-tooltip-bottom .arrow {
    top: 0;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #ebebeb;
}
.bs-tooltip-auto[x-placement^="left"],
.bs-tooltip-left {
    padding: 0 0.4rem;
}
.bs-tooltip-auto[x-placement^="left"] .arrow,
.bs-tooltip-left .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #ebebeb;
}
.tooltip-inner {
    min-width: 400px;
    max-width: 800px;
    padding: 0.25rem 0.5rem;
    color: #e3e3e3;
    text-align: left;
    background-color: #3a3a3a;
    border: 1px solid #72abff;
    border-radius: 0.25rem;
}

.bg-nor {
    background: #0e3a1d !important;
}
.bg-err {
    background: #502121 !important;
}
.bg-warn {
    background: #4a4612 !important;
}
.bg-ignored {
    background: #523e1e !important;
}
.cli {
    background: var(--cli-bg) !important;
}
.fg-err {
    background: #cf6868 !important;
}
[role="item"][data-original-title] {
    background-color: #144356 !important;
}
[role="item"].active {
    background: #166d88 !important;
}
[role="packet-item"] {
    min-height: 35px;
}
div#io:empty::before {
    white-space: pre;
    color: #737373;
    cursor: text;
    user-select: none;
    content: attr(placeholder);
    display: block;
    padding: 20px 0 0 40px;
}
.tooltip div > span {
    word-wrap: break-word;
}
#tooltip_killer {
    cursor: pointer;
    background: #792626;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
}
#tooltip_killer:hover {
    background: #da5454;
    transform: rotate(90deg);
}
td:nth-child(2) {
    text-align: right;
}
td:nth-child(2):not(.fg-err)::after {
    content: ' :';
}
td:nth-child(3) {
    width: 90px;
    min-width: 90px;
}
table {
    color: #fff;
    background-color: #3a3a3a;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}
table tr:first-child > td {
    border-top: none;
}
table td {
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #454d55;
}
table tr:hover {
    background-color: #4d5052;
}
.extra {
    background-color: #102c39;
    margin-bottom: 15px;
    padding: 8px 15px;
}

[colspan="100"], .extra {
    white-space: pre-wrap;
}

#io > div {
    background: #222222;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 10px;
}
[role="editable"] {
    display: block;
    padding: 10px 0 10px 20px;
    z-index: 10;
}
[role="control"] {
    z-index: 20;
    float: right;
    position: relative;
    right: 10px;
    background-color: #636363a1;
    height: 40px;
}
[role="control"] > * {
    float: right;
    height: 40px;
    width: 40px;
}
[role="header"]:empty {
    display: none;
}
[role="header"] {
    margin: 10px 0 0 20px;
    color: #fcfcfc;
    display: inline-block;
}
[role="item"] > [role="editable"]:empty::after {
    content: " ----- Here Is An Empty Line -----";
    margin-left: 40%;
    color: #cf6868;
}
#io > [role="item"]:last-child > [role="editable"]:empty::after {
    content: "More packet goes here ...";
    color: #7b7f81;
    margin-left: 2%;
}
[role="item"] > .header_extra {
    color: #ffffff;
    margin: 10px 20px 0 0;
    background-color: var(--cli-bg);
    float: right;
}
[role="item"] > .header_extra.srv {
    background-color: transparent;
}

[role="item"] > .header_extra.c0 {
    background-color: #103344;
}
[role="item"] > .header_extra.c1 {
    background-color: #5f2f21;
}
[role="item"] > .header_extra.c2 {
    background-color: #502a92;
}
[role="item"] > .header_extra.c3 {
    background-color: #5c1d67;
}